* {
  box-sizing: border-box;
}

.row {
  padding: 15px;
}

.card-stats {
  margin-bottom: 25px;
  max-height: 550px;
}
.card-category {
  color: rgb(240, 240, 239);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
}
.numbers {
  overflow: hidden;
  white-space: nowrap;
}

.bi {
  padding: 20px;
  font-size: 36px;
}

.reward-card {
  max-width: 500px;
  margin: 0 auto;
  height: auto;
}
.reward-form {
  padding: 0 25px;
  font-size: large;
  height: fit-content;
}
.reward-form input {
  border: 1px solid gray;
  padding: 8px;
  border-radius: 4px;
}
.withdraw-card {
  max-width: 500px;
  height: 350px;
  margin: 0 auto;
}
.card-title {
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.withdraw-form {
  padding: 0 25px;
}

.withdraw-form Button {
  padding: 20px 150px;
  position: relative;
  margin: 0 auto;
  top: 70%;
}

.withdraw-form Button:hover {
  background-color: rgb(36, 170, 65);
}
